.navbar-profile-pic img {
    border-radius: 150px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 50px;
    height: 150px;
    width: 150px;
}
.nav-item {
    color: white;
    margin-top: 20px;
    /*text-align: center;*/
    font-size: large;
}
.nav-link {
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg {
    margin-right: 10px;
}

.nav-link:hover {
    color: black;
}
.nav-link .active {
    color: white;
    border-left: 5px solid white;
    padding-left: 10px;
    text-decoration: none;
}